<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Список читателей</h3>
  </div>
</div>

<div class="grid-x grid-padding-x"> 
    <div class="large-12 cell"> 
        <a href="/new_reader" class="button float-right">Добавить</a>
    </div>
</div>

<table class="unstriped">
  <thead>
    <tr>
      <th>№</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Возраст</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @readers.each_with_index do |person, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= person.last_name %></td>
        <td><%= person.first_name %></td>
        <td><%= person.patronymic %></td>
        <td><%= person.age %></td>
        <td>
          <a class="button" id="person_<%= person.last_name %>_<%= person.first_name %>_<%= person.patronymic %>_<%= person.age %>" href="/show_reader/<%= index %>"><i class="fas fa-info-circle"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>